/**/

:root {
  --theme-1: #128c7e;
  --theme-2: #075f55;
  --theme-3: #25d466;
  --theme-4: #32b8f1;

  --theme-1-light: #18b9a6;
  --theme-2-light: #0b8e7f;
  --theme-3-light: #4de083;
  --theme-4-light: #62c8f4;

  --theme-1-dark: #0c5f55;
  --theme-2-dark: #042f2a;
  --theme-3-dark: #1ea951;
  --theme-4-dark: #10a2e0;

  --background-1: #f7f7f7;
  --background-2: #080808;

  --text-1: #000000;
  --text-2: #ffffff;

  --star-1: #ffc107;
  --star-2: #ffa000;

  --green-1: #81c784;
  --green-2: #4caf50;
  --green-3: #388e3c;

  --red-1: #e57373;
  --red-2: #f44336;
  --red-3: #d32f2f;
}
